{% extends 'home.html' %}

{% block content %}
<div class="container mt-5">
    <div>
        <p>Name: <b>{{request.user.username}}</b></p>
        <p>Email: <b>{{email}}</b></p>
        <p>Total Expense: <b>{{sum.amount__sum}}</b></p>
    </div>

    <hr>

    <div>
        <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                {% for i in page_obj %}
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.time_stamp.date}}</td>
                <td>{{i.amount}}</td>
                <td><a href="{% url 'remove_statement' i.id%}"><button class="btn btn-danger">Remove</button></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>

    <nav aria-label="..." class="d-flex justify-content-center">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="">{{page_obj.number}}</a>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number}}">{{ page_obj.next_page_number}}</a></li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        </li>
        {% endif %}
      </ul>
    </nav>

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
</div>


   

  
{% endblock %}